gris_claro = #F2F2F2
gris_medio = #E8E8E8
gris_oscuro = #444
body
	background gris_claro
	color gris_oscuro

header
	background gris_medio
	padding 0.2em
.contactos
	li
		font-size 1em
		display inline
		list-style none
		padding 0.3em
.logo
	img
		margin 0
		width 230px
		float right
.menu 
	li
		font-size 1.3em 		
.sociales
	a
		padding 0.3em
.slider-wrapper
	img 
		border 1px dashed gris_oscuro
		width 1080px
		margin 0 auto
		
		
